# --- Core Web Framework ---
flask==3.0.3
flask-cors==4.0.1
gunicorn==22.0.0
python-dotenv==1.0.1

# --- System & Helpers (QUAN TRỌNG) ---
# Thêm cái này để sửa lỗi "pkg_resources"
setuptools==69.5.1

# --- AI & Face Recognition ---
face_recognition_models==0.3.0
face_recognition==1.3.0

# --- Image Processing & Math ---
# QUAN TRỌNG: Giữ numpy < 2 để không lỗi OpenCV
numpy<2.0.0

# Bản headless nhẹ cho server
opencv-python-headless==4.9.0.80